<div class="container">
  <h1>Contact Me</h1>
  <p>Please fill in the contact form below. </p>
  <%= form_for @message, url: contact_path do |f| %>
  <% if @message.errors.any? %>
  <div class="alert alert-danger">
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>

  <% end %>
    <p><%= f.text_field :name, :required => true, class: "contact_text_field", placeholder: "Name *" %></p>
    <p><%= f.email_field :email, :required => true, class: "contact_email_field", placeholder: "E-mail *" %></p>
    <p><%= f.text_area :content, :required => false, class: "contact_message_field",placeholder: "Enter your message here..."  %></p>
    <p><%= f.submit 'Send message', :class=> "btn btn-default" %></p>
  <% end %>
</div>