<div class="row">
	<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-centered">
		<% @post = Post.find(@comment.post_id) %>
		<h5 class="comment_author">"<%= @post.title %>"</h5>
		<h5 class="comment_author"><%= @comment.commenter %></h5>
		<h5 class="comment_date">Comment ID: <%= @comment.id %></h5>
		<h5 class="comment_date"><%= @comment.created_at.strftime('%b %d, %Y') %></h5>
		<p class="comment_body"><%= @comment.body %></p>
	</div>
</div>