<ol>
	<% @users = User.all.order('created_at ASC') %>
	<% @users.each do |user| %>
	<li>
		Email: <%= user.email %><br>
		User created at: <%= user.created_at %><br>
		<% if user.admin? %>
		<p><strong><%= "ADMIN USER" %></strong></p>
		<% end %>
		<p>
		<%= link_to "Details", admin_show_user_path(user), class: "btn btn-default btn-xs" %>
		<%= link_to "Delete", admin_destroy_user_path(user), method: :delete, class: "btn btn-default btn-xs", data: { confirm: "You sure?" } %>
		</p>
	</li>
	<% end %>
</ol>