<div class="container">
	<h3>All Users (<%= User.count %>)</h3>
	<br>
	<p><% @users = User.all %>
		<% @users.each do |user| %>
		<ol>
			<li>
				Email: <%= user.email %><br>
				User created at: <%= user.created_at %><br>
				Admin<%= user.admin? %><br>
				<%= link_to "Details", admin_show_user_path(user) %>
				<%= link_to "Delete", admin_destroy_user_path(user), method: :delete, class: "admin_button", data: { confirm: "You sure?" } %>
			</li>
		</ol>
		<% end %>
	</p>
</div>
