<h3>Edit Profile</h3>
<p><%= link_to "Update Profile", edit_user_registration_path, class: "user_button"%></p>
<h3>All Users (<%= User.count %>)</h3>
<br>
<%= render "users/manageusers" %>

<h3>All Comments (<%= Comment.count %>)</h3>
<br>
<%= render "comments/managecomments" %>