<%= form_for @contact do |f| %>
<% if @contact.errors.any? %>
<div class="alert alert-danger">
		<ul>
		<% @contact.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
</div>
<% end %>
	<p><%= f.text_field :name, :required => true, class: "contact_text_field", placeholder: "Name *" %></p>
	<p><%= f.email_field :email, :required => true, class: "contact_email_field", placeholder: "E-mail *" %></p>
	<p><%= f.text_area :message, :required => false, class: "contact_message_field",placeholder: "Enter your message here..."  %></p>
	<p><%= f.submit 'Send message', :class=> "btn btn-default" %></p>
<% end %>
