<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>
      <%= f.text_field :title, class: "post_title_field", placeholder: "Title" %>
    </p>
    <p>
        <%= raw f.text_area :body, class: "post_body_field", placeholder: "Body" %>
    </p>
    <p>
      <%= f.submit "Save", class: "btn btn-default" %>
    </p>
  </div>
<% end %>
