<% provide(:title, @post.title + " | " ) %>
<% if @post.published.to_s == "true" || current_user.try(:admin?) %>
	<header class="post_header">
		<h2 class="post_title"><%= @post.title %></h2>
		<% if @post.published.to_s == "false" %>
		<h5 class="post_status">(Unpublished)</h5>
		<% end %>
		<h5 class="date">
			<%= @post.created_at.strftime('%B %d, %Y') %>
			<% if @post.comments.any? %>
			 | Comments: <%= @post.comments.count %>
			<% end %>
		</h5>
		<p>
		<% if current_user.try(:admin?) %>
			<%= link_to ' Edit  ', edit_post_path(@post), class: "btn btn-default btn-xs" %>
			<% if @post.published.to_s == "false" %>
				<%= link_to ' Publish  ', publish_post_path(@post), class: "btn btn-default btn-xs" %>
			<% else %>
				<%= link_to ' Unpublish  ', unpublish_post_path(@post), class: "btn btn-default btn-xs" %>
			<% end %>
			<%= link_to 'Delete', post_path(@post), class: "btn btn-default btn-xs", :method => :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</p>
	</header>
	<article class="post_body">
		<%= raw @post.body %>
	</article>
	<footer class="post_footer">
		<p class="tags"><%= raw tag_links(@post.all_tags) %></p>
		<p class="social_share"><%= social_share_button_tag(@post.title) %></p>
		<p><hr></p>
	</footer>
	<div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-centered">
        	<% if @post.comments.count > 0 %>
			<h2 class="comment_section">Comments (<%= @post.comments.count %>)</h2>
			<% end %>
			<% @post.comments.each do |comment| %>
			<h5 class="comment_author"><%= comment.commenter %></h5>
			<h5 class="comment_date"><%= comment.created_at.strftime('%H:%M %b %d, %Y') %></h5>
			<p class="comment_body"><%= comment.body %></p>
			<% if current_user.try(:admin?) %>
			<p>
				<%= link_to ' Edit  ', edit_post_comment_path(@post, comment), class: "btn btn-default btn-xs" %>
				<%= link_to 'Delete', [comment.post, comment], class: "btn btn-default btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
			</p>
			<% end %>
			<p><hr></p>
			<% end %>
			<h2 class="comment_section">Write a comment</h2>
			<%= render 'comments/comment_form' %>
		</div>					
	</div>
	<div class="row">
		<div class="post_bottom_nav hidden-xs col-sm-11 col-md-11 col-lg-11 col-centered">
				<%= link_to "<< Previous Post", @post.prev %>  | 
				<%= link_to "Top of the Page", anchor: "top" %> | 
				<%= link_to "Next Post >>", @post.next %>
		</div>
		<div class="post_bottom_nav visible-xs-11 hidden-sm hidden-md hidden-lg">
			<%= link_to "<< Previous", @post.prev %>  | <%= link_to "Top", anchor: "top" %> | <%= link_to "Next >>", @post.next %>
		</div>
	</div>
<% end %>
