<!DOCTYPE html>
<html>
<head>
  <title>Giedrius Rimkus - Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="main_header navbar-fixed-top">
		<div class="container">
			<%= link_to root_path do %>
			<div id="circle_logo"></div>
			<% end %>
			<ul id="main_nav">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", about_path %></li>
				<% if user_signed_in?  %>
				<li><%= link_to "Profile", edit_user_registration_path, class: "user_button"%></li>
				<li><%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "user_button" %></li>
				<% end %>
				<% if current_user.try(:admin?)%>
				<li><%= link_to "Create", new_post_path, class: "admin_button" %></li>
				<li><%= link_to "All Users", users_index_path, class: "admin_button" %></li>
				<li><%= link_to "All Comments", admin_all_comments_path, class: "admin_button" %>
				</li>
				<% end %>
			</ul>
	</nav>
	<div class="container">
		<section class="main_body">
			<%= render "posts/flash" %>
			<%= yield %>
		
			</section>
		</div>
	<footer></footer>
</body>
</html>
